body {
  min-width: 500px;
  min-height: 200px;
  overflow-y: auto;
}

*[data-filter="all"] *[data-type="PMT-status"] {
  background-color: #000000;
  border: 2px solid #332e33;
}

*[data-filter="pending"] *[data-type="PMT-status"] {
  background-color: #f8f8f8;
  border: 2px solid #dedede;
}

*[data-filter="inprogress"] *[data-type="PMT-status"] {
  background-color: #ebb305;
  border: 2px solid #d19e04;
}

*[data-filter="completed"] *[data-type="PMT-status"] {
  background-color: #22c55d;
  border: 2px solid #1dab51;
}

*[data-filter="all"] *[data-type="PMT-text"]:before {
  content: "All";
}

*[data-filter="pending"] *[data-type="PMT-text"]:before {
  content: "Pending";
}

*[data-filter="inprogress"] *[data-type="PMT-text"]:before {
  content: "In Progress";
}

*[data-filter="completed"] *[data-type="PMT-text"]:before {
  content: "Completed";
}

#PMT-dropdown-btn:focus-within #PMT-dropdown-content {
  visibility: visible;
}

#files li:only-child {
  display: flex;
}
