.PMT-files {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style-type: none;
}

.PMT-files > li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.PMT-files > li:hover a {
  color: #555555;
}

.PMT-checkbox {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;

  transition: background-color 100ms ease-out;
}

.PMT-checkbox:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.PMT-checkbox[data-status="completed"] {
  background-color: #22c55d;
  border: 2px solid #1dab51;
}

.PMT-checkbox[data-status="completed"] + a {
  text-decoration: line-through;
}

.PMT-checkbox[data-status="inprogress"] {
  background-color: #ebb305;
  border: 2px solid #d19e04;
}

.PMT-checkbox[data-status="pending"] {
  background-color: #f8f8f8;
  border: 2px solid #dedede;
}

